.maplibregl-popup {
    left: 0;
    top: 0;
    border-radius: 10px;
    border: 1px black solid;
    border-bottom: 3px black solid;
    position: fixed;
    background-color: white;
    padding: 5px 10px;
  
    word-wrap: break-word;
}

.maplibregl-popup-close-button {
    cursor: pointer;
  
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
  
    border: none;
    outline: none;
  
    width: 30px;
    height: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker_popup{
    font-family: sans-serif;    
}

.title {
    
}


.photo {
    width: 220px;
    height: 140px;
}

.description {
    font-family: sans-serif; 
    padding: 10px 0;
}


.buy_zone{
    height: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.price{
    width: fit-content;
    color:gold;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    padding-left: 5px;
    padding-right: 5px;
}

.add_to_cart{
    cursor: pointer;
    width: 50px;
    height: 25px;

    display: flex;
    align-items: center;
    border:1px black solid;
    border-radius: 15px;
}

.is_selected {
    accent-color: black;
}

.cart_img{
    width: 20px;
    height: 20px;
}