.maplibregl-popup {
    left: 0;
    top: 0;
    border-radius: 10px;
    border: 1px black solid;
    border-bottom: 3px black solid;
    position: fixed;
    background-color: white;
    padding: 5px 10px;
  
    word-wrap: break-word;
}

.maplibregl-popup-close-button {
    cursor: pointer;
  
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
  
    border: none;
    outline: none;
  
    width: 30px;
    height: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker_popup{

}

.title {
    font-family: sans-serif;
}

.photo {
    
}

.description {
    font-family: sans-serif; 
    flex: 1; 
    margin-right: 10px;
}

.is_selected {
    color: black;
}

.cart_img{
    width: 20px;
    height: 20px;
}

.add_to_cart{
    float: right;
    width: 50px;
    height: 25px;

    display: flex;
    align-items: center;
    border:1px black solid;
    border-radius: 15px;
}