.result_field{
    height:110px;
    width:100%;
    padding: 0px 0px 5px 10px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    overflow-x: hidden;
}

.billboard_image{
    height: 95px;
    width: 130px;
}

.general_info{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 5px;
    display: flex;
    flex-direction: column;
}

.header_info{
    width: 100%;
}

.price{
    border-radius: 50px;
    float: left;
    font-size: small;
    margin-right: 5px;
}

.address_text{
    word-break: break-all;
    font-size: medium;
}

.description_result{
    display: -webkit-box;
    font-size: small;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}