.nav_bar{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;

    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family:sans-serif;
}

.link{
    text-decoration: none;

    width: 100px;
    height: 8vh;

    border-left: 1px solid black;

    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
}

.link:hover{
    background-color: rgb(210, 210, 210);
    transition: 500ms;
}

.links_container{
    display: flex;
    justify-content: center;
}

.logo_container{
    padding-left: 10px;
    height: 10vh;
}