.nav_bar{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;

    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family:sans-serif;
}

.link_border{
    min-height: 7vh;
    max-height: 10vh;
    border-left: 1px solid black;
}

.link{
    text-decoration: none;

    width: 100px;
    height: 70px;

    color: black;

    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
}

.links_container{
    display: flex;
    justify-content: center;
}

.logo_container{
    height: 150px;
}