.actions_container {
    width: 350px;
    height: 83vh;
    position: fixed;
    top: 16.5vh;
    right: 5px;
    z-index: 1;
}

.results_field{
    background-color: white;
    border: 1px black solid;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.result_container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.result_container::-webkit-scrollbar {
    background: #f1f1f1;
    border-radius: 25px;
}

.result_container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.result_container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

.result_container ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 25px;
}

.result_container.search{
    width: 100%;
    height: calc(100% - 28px);
    overflow-y: auto;
}

.result_container.filter{
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.result_container.sort{
    width: 100%;
    height: calc(100% - 28px);
    overflow-y: auto;
}

.toolbar{
    position: fixed;
    top: 10.5vh;
    right: 5px;
    z-index: 3;

    height: 40px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbar_button{
    background-color: white;
    border-radius: 50px;
    border: 1px black solid;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toolbar_icon{
    width: 28px;
    height: 28px;
}

.toolbar_button:hover{
   background-color: black;
   transition: 500ms;
}

.toolbar_button:hover .toolbar_icon{
    fill: white;
    transition: 500ms;
}

.toolbar_button.selected {
    background-color: black;
    transition: 500ms;
}

.toolbar_icon.selected {
    fill: white;
    transition: 500ms;
}

.toolbar_button.selected:hover{
    background-color: white;
    transition: 500ms;
 }
 
 .toolbar_button.selected:hover .toolbar_icon.selected{
     fill: black;
     transition: 500ms;
 }

 .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}
